:root {
    --button-margin: 2px;
}

html,
.row,
.buttons,
.screen,
.major-row,
.button-column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.operator-buttons > button {
    background-color: rgb(190, 190, 190);
}

button {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: var(--button-margin);
    border-radius: 10%;
}

button:hover {
    box-shadow: 2px 2px inset;
}

.screen {
    padding: 5px;
    margin-bottom: 5px;
    font-size: 35px;
    justify-content: right;
    background-color: #149414;
    color: white;
    font-weight: bold;
    font-family: 'Courier New';
    border: 2px black solid;
    border-radius: 5px;
}

button.disabled {
    background-color: grey;   
}

.tall-button {
    width: 50px;
    height: 104px;
    font-size: 25px;
}

.clear {
    background-color: orange;
}

.equals {
    background-color: lightblue;
}